
body{
    color: #fff  !important;
  
    background: #0B1D26;
    font-size: 18px  !important;
    scroll-behavior: smooth;
    background-image: url("../public/img/bgimg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

span{
    margin: 6px 0;
}

.arrow{
    width: 16px;
    height: 13px;
}
.mainTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

ul{
    list-style: none;
}
.text_block{
    max-width: 630px;
}
.text_block ul li{
    margin-bottom: 27px;
}
.img_block{
    height: 550px;
    width: 450px;
}
.levelBlock, .equipmentBlock, .mapBlock{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: column; 
}
footer{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.readMore{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.readMore:hover img{
    transform: translateX(20px);
    transition: .3s;
}

.scrollDown{
    display: flex;
    align-items: center;
    gap: 8px;
}
.title{
    display: flex;
    align-items: center;
   font-weight: 500;
    gap: 15px;
}
.number{
    font-size: 100px;
    color: #FBD784;
}